{% load static %}
<footer class="footer">
  <div class="footer-container">
    <div class="footer-logo">
      <img src="{% static 'img/logo.png' %}" alt="Gabarrón Resto Logo" />
    </div>

    <div class="footer-info">
      <div>
        <strong>Dirección:</strong><br>
       Calle easo 7
San Sebastián
      </div>
      <div>
        <strong>Horario:</strong><br>
        Lun-Dom: 12:00 - 23:00
      </div>
    </div>
    <div class="footer-social">
      <a href="https://instagram.com/tu_usuario" target="_blank" aria-label="Instagram">
        <i class="bi bi-instagram"></i>
      </a>
      <a href="https://wa.me/tu_numero" target="_blank" aria-label="WhatsApp">
        <i class="bi bi-whatsapp"></i>
      </a>
    </div>
  </div>
  <div class="footer-bottom">
    © 2025 Gabarrón Resto. Todos los derechos reservados.
  </div>
</footer>
